<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DownloadFolder" value="Downloads\"/>
		<add key="WaitTimer" value="900"/>
		<add key="ConsumerKey" value=""/>
		<add key="ConsumerSecret" value=""/>
		<add key="AccessToken" value=""/>
		<add key="AccessSecret" value=""/>
		<add key="BearerToken" value=""/>
		<add key="UserId" value=""/>
		<add key="UserLastTweet" value=""/>
	</appSettings>
</configuration>